<h2>Edit <%= @restaurant.name %></h2>
<%= form_for @restaurant do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :phone %><br>
    <%= form.text_field :phone %>
  </div>
  <p><%= form.submit %></p>
<% end %>
